.feeds-popup {
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: center;
    width: 100%;
  }
  
  .profile-pic {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
  }
  
  input[type="file"] {
    display: block;
    margin: 10px auto;
  }
  
  .buttonEdit {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  

  .avatar-container {
    position: relative;
    width: fit-content;
    text-align: center;
    padding-left: 30%;
}

.image-container {
    height: 200px;
    width: 200px;
    z-index: 1;
    border-radius: 50%;
    background-color: #fff;
    background-position: center;
    background-size: cover;
    box-shadow: 0 10px 20px 20px #6c93001a;
}


  label {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
  }
