<main class="2xl:ml-[--w-side] xl:ml-[--w-side-md] md:ml-[--w-side-small]">
  <div class="max-w-2xl mx-auto p-6">
    <!-- Page Heading -->
    <div class="py-6">
      <!-- <a href="home.html" class="inline-flex items-center text-blue-500 hover:text-blue-700">
        <ion-icon name="chevron-back-outline" class="mr-2"></ion-icon>
        Back to Home
      </a> -->
      <h1 class="text-3xl font-bold mt-4">About Social Notebooks</h1>
    </div>

    <!-- About Content Container -->
    <div
      class="bg-white border border-slate-200 rounded-xl shadow-sm dark:border-slate-700 dark:bg-dark2 p-6"
    >
      <div class="space-y-4 text-gray-700 dark:text-gray-600">
        <div>
          <p class="text-2xl font-semibold">
            Behind the Scenes: Our Tech Stack
          </p>
          <p>
            The magic of Social Notebooks lies in its seamless user experience,
            powered by a modern and robust technology foundation:
          </p>
        </div>
        <br />
        <!-- <div> -->
        <span class="mt-10">
          <p class="font-semibold">Front End:</p>
          Built with Angular, HTML, and CSS, our interface is designed for a
          smooth and responsive experience.
        </span>
        <!-- </div> -->
        <span class="mt-10">
          <p class="font-semibold">Back End:</p>
          Our core services are built on .NET Core and hosted on Azure App
          Service, delivering reliable performance and scalability.
        </span>
        <span class="mt-10">
          <p class="font-semibold">Data & Storage:</p>
          We securely manage your content using Azure Cosmos DB and Blob
          Storage.
        </span>
        <span class="mt-10">
          <p class="font-semibold">Security & Optimization:</p>
          Azure Key Vault protects sensitive data.
        </span>
        <span class="mt-10">
          <p class="font-semibold">One-Way Encryption:</p>
          All messages and calls are secured using one-way encryption, ensuring
          that your communications remain confidential.
        </span>
        <span class="mt-10">
          <p class="font-semibold">Azure Cognitive Search:</p>
          Leverages AI to provide powerful, context-aware search capabilities.
        </span>
        <span class="mt-10">
          <p class="font-semibold">API Management & Connectivity:</p>
          Azure API Management (APIM): Ensures that our APIs are secure,
          scalable, and easy to integrate.
        </span>
        <span class="mt-10">
          <p class="font-semibold">Peering Between VMs & App Services:</p>
          Enhances performance and security through efficient, direct
          communication between our hosting environments.
        </span>
        <span class="mt-10">
          <p class="font-semibold">Open Source at Our Core:</p>
          We embrace open source principles, ensuring transparency, flexibility,
          and community-driven innovation.
        </span>
        <span class="mt-10">
          <p class="font-semibold">Special Thanks:</p>
          A heartfelt thank you to all the developers behind the npm and NuGet
          packages that made this platform possible.
        </span>
      </div>
    </div>
  </div>
</main>
