<div class="about-container">
  <h1 class="about-header">About tenX</h1>
  <p class="about-text">
    tenX is an attempt to create an open-source social media platform.
    You can find your unique key by clicking on the profile photo.
    Also , you can login via it by clicking on 'Login', to access your previous chats and activities.
  </p>

  <p class="about-text">

    With a simple and secure login process, you can use a social key as your unique identifier—just copy, write down, or memorize your key. 
    No usernames, no emails—just you. Umm, you’re smart enough to figure it out!
  </p>



  <p class="about-text">
    tenX is anonymous, safe, and fast. It leverages one-way encryption to ensure your data is secure. If you come across any feed 
    that violates community guidelines, use the "Report Feed" option, and it will be removed immediately.
  </p>

  <p class="about-text">
    We respect your privacy. We won’t spam your inbox, nor do we want to get you divorced. 😊
  </p>

      <!-- GitHub Link (Visible only on Desktop) -->
      <a href="https://github.com/ManishXS/BackEndSocial.git" target="_blank" class="nav-link github-link">
        <i class="fab fa-github"></i>
        Source Code
      </a>
  
      <!-- LinkedIn Link (Visible only on Desktop) -->
      <a href="https://www.linkedin.com/in/manish-pardeshi-069417133/" target="_blank" class="nav-link linkedin-link" >
        <i class="fab fa-linkedin"></i>
        My LinkedIn Profile
      </a>
</div>
