<div class="edit-profile-container">
  <!-- Profile Section -->
  <div class="profile-info">
    <h2 class="profile-header">Your Profile</h2>
    <img src={{profilePic}} alt="Profile Picture" class="profile-pic" />
    <p class="user-id">User ID: {{ userId }}</p>
    <p class="username">Username: {{ username }}</p>
  </div>

  <!-- Development Message -->
  <div class="development-message">
    <p>
      The Edit Profile functionality is under development and will be
      available soon! Stay tuned.
      Or Just add the code. Source Code in About Section.
      Coding is easy and you are smart !!!
    </p>
  </div>
</div>