/* :host {
  display: block;
} */

.video-container {
  position: relative;
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
  height: fit-content;
  min-height: 600px;
  display: flex;
  align-items: center;
}

.video-container video {
  width: 100%;
  height: auto;
  display: block;
}

.video-container .mute-button {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 20px;
  line-height: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
}
